### Pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pride 45\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\pride 45\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pride 45\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pride 45\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pride 45\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\pride 45\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

C:\Users\pride 45\AppData\Local\Temp\ipykernel_6640\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
import numpy as np

In [6]:
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [4]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row1','Row2','Row3','Row4','Row5'], columns = ['column1','column2', 'column3','column4'])

In [8]:
print(df)

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [9]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [10]:
df.to_csv('Test2.csv')

In [11]:
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [13]:
df['column1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: column1, dtype: int32

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      int32
 1   column2  5 non-null      int32
 2   column3  5 non-null      int32
 3   column4  5 non-null      int32
dtypes: int32(4)
memory usage: 292.0+ bytes

In [13]:
minidf = df.loc[['Row1', 'Row2']]
minidf.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7

In [27]:
minidf[['column1', 'column2']]

      column1  column2
Row1        0        1
Row2        4        5

In [28]:
df.iloc[:,1:4]

      column2  column3  column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [30]:
df.iloc[:,1:4].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [31]:
df.isnull().sum() #checks for null values in a column

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [16]:
dataFrames = pd.read_csv("US_E-commerce_records_2020.csv", encoding='windows-1252')

In [17]:
dataFrames.head()

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,01-01-20,849,CA-2017-107503,Standard Class,GA-14725,Consumer,United States,Lorain,Ohio,44052,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",48.896,4,0.2,8.5568
1,01-01-20,4010,CA-2017-144463,Standard Class,SC-20725,Consumer,United States,Los Angeles,California,90036,West,FUR-FU-10001215,Furniture,Furnishings,"Howard Miller 11-1/2"" Diameter Brentwood Wall ...",474.430,11,0.0,199.2606
2,01-01-20,6683,CA-2017-154466,First Class,DP-13390,Home Office,United States,Franklin,Wisconsin,53132,Central,OFF-BI-10002012,Office Supplies,Binders,Wilson Jones Easy Flow II Sheet Lifters,3.600,2,0.0,1.7280
3,01-01-20,8070,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,454.560,5,0.2,-107.9580
4,01-01-20,8071,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,Central,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5,0.6,-187.3815

In [21]:
dataFrames.isnull().sum()

Order Date      0
Row ID          0
Order ID        0
Ship Mode       0
Customer ID     0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Product ID      0
Category        0
Sub-Category    0
Product Name    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [22]:
npValues = dataFrames['Ship Mode'].values

In [23]:
print(npValues)

['Standard Class' 'Standard Class' 'First Class' ... 'Standard Class'
 'Standard Class' 'Standard Class']

In [31]:
np.unique(npValues)

array(['First Class', 'Same Day', 'Second Class', 'Standard Class'],
      dtype=object)

In [29]:
type(npValues)

numpy.ndarray

In [25]:
npCity = dataFrames['City'].values

In [26]:
print(npCity)

['Lorain' 'Los Angeles' 'Franklin' ... 'Fairfield' 'Fairfield' 'Loveland']

In [33]:
npUniqueCity = np.unique(npCity)

In [34]:
len(npUniqueCity)

350

In [35]:
print(npUniqueCity)

['Aberdeen' 'Abilene' 'Akron' 'Albuquerque' 'Alexandria' 'Amarillo'
 'Anaheim' 'Apple Valley' 'Arlington' 'Asheville' 'Athens' 'Atlanta'
 'Auburn' 'Aurora' 'Austin' 'Bakersfield' 'Baltimore' 'Beaumont' 'Bedford'
 'Belleville' 'Bellevue' 'Bellingham' 'Bloomington' 'Boise' 'Bolingbrook'
 'Bowling Green' 'Boynton Beach' 'Brentwood' 'Brownsville' 'Bryan'
 'Buffalo' 'Burlington' 'Camarillo' 'Cambridge' 'Canton' 'Carlsbad'
 'Carrollton' 'Cedar Hill' 'Chandler' 'Chapel Hill' 'Charlotte'
 'Charlottesville' 'Chattanooga' 'Chesapeake' 'Chester' 'Chicago' 'Chico'
 'Cincinnati' 'Citrus Heights' 'Clarksville' 'Cleveland' 'Clinton'
 'Clovis' 'Coachella' 'College Station' 'Columbia' 'Columbus'
 'Commerce City' 'Concord' 'Coppell' 'Coral Springs' 'Corpus Christi'
 'Costa Mesa' 'Cranston' 'Cuyahoga Falls' 'Dallas' 'Danbury' 'Danville'
 'Dearborn' 'Dearborn Heights' 'Decatur' 'Deltona' 'Denver' 'Des Moines'
 'Des Plaines' 'Detroit' 'Draper' 'Dublin' 'Durham' 'Eagan' 'East Orange'
 'Eau Claire' 'Edinburg' 'Edmonds' 'El Paso' 'Elkhart' 'Elyria'
 'Encinitas' 'Escondido' 'Everett' 'Fairfield' 'Fargo' 'Farmington'
 'Fayetteville' 'Florence' 'Fort Collins' 'Fort Lauderdale' 'Fort Worth'
 'Franklin' 'Freeport' 'Fremont' 'Fresno' 'Frisco' 'Garden City' 'Garland'
 'Georgetown' 'Gilbert' 'Gladstone' 'Glendale' 'Grand Island'
 'Grand Prairie' 'Grand Rapids' 'Great Falls' 'Greeley' 'Green Bay'
 'Greensboro' 'Greenville' 'Greenwood' 'Grove City' 'Gulfport'
 'Hagerstown' 'Harlingen' 'Harrisonburg' 'Hattiesburg' 'Helena'
 'Hempstead' 'Henderson' 'Hendersonville' 'Hesperia' 'Hialeah' 'Hickory'
 'Hillsboro' 'Hollywood' 'Homestead' 'Hoover' 'Houston' 'Huntington Beach'
 'Huntsville' 'Independence' 'Indianapolis' 'Inglewood' 'Jackson'
 'Jacksonville' 'Johnson City' 'Jonesboro' 'Jupiter' 'Keller' 'Kenosha'
 'Kent' 'Kissimmee' 'Knoxville' 'La Mesa' 'La Porte' 'Lafayette'
 'Laguna Niguel' 'Lake Charles' 'Lake Forest' 'Lakeland' 'Lakeville'
 'Lakewood' 'Lancaster' 'Lansing' 'Las Cruces' 'Las Vegas' 'Laurel'
 'Lawrence' 'Lawton' 'League City' 'Lebanon' 'Little Rock' 'Lodi'
 'Long Beach' 'Longview' 'Lorain' 'Los Angeles' 'Louisville' 'Loveland'
 'Lowell' 'Lubbock' 'Madison' 'Manchester' 'Mansfield' 'Manteca'
 'Maple Grove' 'Marion' 'Mcallen' 'Melbourne' 'Memphis' 'Mentor' 'Meriden'
 'Meridian' 'Mesa' 'Mesquite' 'Miami' 'Middletown' 'Milford' 'Milwaukee'
 'Minneapolis' 'Miramar' 'Mission Viejo' 'Missouri City' 'Modesto'
 'Monroe' 'Montgomery' 'Moorhead' 'Morristown' 'Mount Vernon'
 'Murfreesboro' 'Murray' 'Muskogee' 'Naperville' 'Nashua' 'Nashville'
 'New Bedford' 'New Brunswick' 'New Rochelle' 'New York City' 'Newark'
 'Newport News' 'North Charleston' 'North Las Vegas' 'Norwich' 'Oak Park'
 'Oakland' 'Oceanside' 'Odessa' 'Oklahoma City' 'Olympia' 'Omaha'
 'Ontario' 'Orange' 'Orem' 'Orlando' 'Ormond Beach' 'Overland Park'
 'Oxnard' 'Palatine' 'Palm Coast' 'Park Ridge' 'Parker' 'Parma' 'Pasadena'
 'Pasco' 'Paterson' 'Pearland' 'Pembroke Pines' 'Peoria' 'Perth Amboy'
 'Pharr' 'Philadelphia' 'Phoenix' 'Pico Rivera' 'Pine Bluff' 'Plainfield'
 'Plano' 'Pocatello' 'Pomona' 'Pompano Beach' 'Port Orange'
 'Port Saint Lucie' 'Portland' 'Providence' 'Provo' 'Quincy' 'Raleigh'
 'Rancho Cucamonga' 'Reading' 'Redmond' 'Renton' 'Richmond' 'Riverside'
 'Rochester' 'Rochester Hills' 'Rockford' 'Rogers' 'Rome' 'Roseville'
 'Roswell' 'Round Rock' 'Sacramento' 'Saginaw' 'Saint Charles'
 'Saint Cloud' 'Saint Louis' 'Saint Petersburg' 'Salem' 'Salinas'
 'Salt Lake City' 'San Angelo' 'San Antonio' 'San Diego' 'San Francisco'
 'San Jose' 'San Mateo' 'Sandy Springs' 'Sanford' 'Santa Ana'
 'Santa Barbara' 'Santa Clara' 'Scottsdale' 'Seattle' 'Sioux Falls'
 'Skokie' 'Smyrna' 'Southaven' 'Spokane' 'Springdale' 'Springfield'
 'Stockton' 'Suffolk' 'Summerville' 'Sunnyvale' 'Tallahassee' 'Tampa'
 'Tempe' 'Texarkana' 'Thornton' 'Thousand Oaks' 'Tigard' 'Toledo'
 'Torrance' 'Trenton' 'Troy' 'Tucson' 'Tulsa' 'Tuscaloosa' 'Tyler'
 'Urbandale' 'Utica' 'Vancouver' 'Vineland' 'Virginia Beach' 'Waco'
 'Warwick' 'Washington' 'Waterbury' 'Waterloo' 'Watertown' 'Westfield'
 'Westminster' 'Wheeling' 'Whittier' 'Wichita' 'Wilmington' 'Woodland'
 'Woodstock' 'Woonsocket' 'Yonkers' 'York' 'Yuma']

In [29]:
dataFrames['City'].value_counts()

City
New York City    306
Los Angeles      210
San Francisco    190
Seattle          182
Philadelphia     182
                ...
Boise              1
Lebanon            1
Hesperia           1
Kissimmee          1
East Orange        1
Name: count, Length: 350, dtype: int64

In [21]:
dataFrames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3312 non-null   object
 1   Row ID        3312 non-null   int64
 2   Order ID      3312 non-null   object
 3   Ship Mode     3312 non-null   object
 4   Customer ID   3312 non-null   object
 5   Segment       3312 non-null   object
 6   Country       3312 non-null   object
 7   City          3312 non-null   object
 8   State         3312 non-null   object
 9   Postal Code   3312 non-null   int64
 10  Region        3312 non-null   object
 11  Product ID    3312 non-null   object
 12  Category      3312 non-null   object
 13  Sub-Category  3312 non-null   object
 14  Product Name  3312 non-null   object
 15  Sales         3312 non-null   float64
 16  Quantity      3312 non-null   int64
 17  Discount      3312 non-null   float64
 18  Profit        3312 non-null   float64
dtypes: float64(3), int64(3), object(13)
memory usage: 491.8+ KB

In [33]:
dataFrames.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000,3312.000000
mean,5087.107488,56186.515097,221.381418,3.766908,0.156467,28.212340
std,2817.482266,31980.375516,585.257531,2.221776,0.207429,241.864342
min,13.000000,1841.000000,0.444000,1.000000,0.000000,-3839.990400
25%,2655.750000,27978.750000,17.018000,2.000000,0.000000,1.763200
50%,5183.500000,60472.500000,53.810000,3.000000,0.200000,8.296800
75%,7498.250000,90032.000000,205.105700,5.000000,0.200000,28.315125
max,9994.000000,99301.000000,13999.960000,14.000000,0.800000,6719.980800

In [34]:
 dataFrames["Ship Mode"].value_counts()

Ship Mode
Standard Class    1897
Second Class       657
First Class        572
Same Day           186
Name: count, dtype: int64

# Extracting from DataFrames

In [45]:
result = dataFrames[dataFrames['Ship Mode'] == 'Standard Class'][dataFrames['Profit']>1000]

C:\Users\pride 45\AppData\Local\Temp\ipykernel_5528\1572426958.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result = dataFrames[dataFrames['Ship Mode'] == 'Standard Class'][dataFrames['Profit']>1000]

In [46]:
result.head()

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
98,22-01-20,516,CA-2017-127432,Standard Class,AD-10180,Home Office,United States,Great Falls,Montana,59405,West,TEC-CO-10003236,Technology,Copiers,Canon Image Class D660 Copier,2999.950,5,0.0,1379.9770
535,08-04-20,2849,CA-2017-157854,Standard Class,DM-13345,Corporate,United States,Roswell,Georgia,30076,South,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,2690.970,3,0.0,1264.7559
760,08-05-20,3274,CA-2017-133865,Standard Class,PS-19045,Home Office,United States,Los Angeles,California,90032,West,TEC-CO-10001046,Technology,Copiers,Canon Imageclass D680 Copier / Fax,3359.952,6,0.2,1049.9850
1086,17-06-20,7915,CA-2017-165323,Standard Class,SR-20740,Home Office,United States,New York City,New York,10024,East,TEC-MA-10003673,Technology,Machines,Hewlett-Packard Desktjet 6988DT Refurbished Pr...,3404.500,5,0.0,1668.2050
1568,21-08-20,9271,US-2017-102183,Standard Class,PK-19075,Consumer,United States,New York City,New York,10035,East,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,4305.552,6,0.2,1453.1238

In [48]:
result["Ship Mode"].value_counts()

Ship Mode
Standard Class    8
Name: count, dtype: int64

In [49]:
result.describe()

            Row ID   Postal Code        Sales  Quantity  Discount       Profit
count     8.000000      8.000000      8.00000  8.000000   8.00000     8.000000
mean   5402.000000  40642.625000   4693.10175  4.625000   0.07500  1889.313362
std    3173.610157  36247.464869   2523.96135  1.187735   0.10351  1298.838225
min     516.000000  10024.000000   2690.97000  3.000000   0.00000  1049.985000
25%    3167.750000  10035.000000   3269.95150  3.750000   0.00000  1330.181175
50%    5266.000000  24893.500000   3855.02600  5.000000   0.00000  1416.550400
75%    8151.000000  67061.750000   5112.96000  5.250000   0.20000  1727.775000
max    9271.000000  95823.000000  10499.97000  6.000000   0.20000  5039.985600