In [1]:
print("Hello World")

Hello World

# Variables and Data Types

In [3]:
1+1

2

In [4]:
10/2

5.0

In [5]:
10%2

0

In [7]:
10**2

100

In [8]:
#check data type

print(type(1))
print(type("Hello"))

<class 'int'>
<class 'str'>

In [9]:
first_name="Kushal"
last_name = "Shah"

In [10]:
print("My First name is {} and last name is {}".format(first_name, last_name))
print("My First name is {first} and last name is {second}".format(first=first_name, second=last_name))

My First name is Kushal and last name is Shah
My First name is Kushal and last name is Shah

In [11]:
len("Kushal")

6

# Python Data Structures and Booleans

In [1]:
type(True)

bool

In [4]:
#string in-built functions
my_str="kushal"
print(my_str)

kushal

In [6]:
print(my_str.capitalize()) #converts to capital Letters the first char
print(my_str.lower()) #returns lower char string
print(my_str.isalnum())
print(my_str.isdigit())
print(my_str.endswith("l"))
print(my_str.endswith("k"))
print(my_str.startswith("k"))

Kushal
kushal
True
False
True
False
True

In [7]:
True and True

True

In [8]:
True and False

False

In [10]:
not True

False

# Lists in Python

List is a data structure in python that is mutable, changeable, ordered sequence of elements. Each value in list is called item.

In [11]:
type([])

list

In [13]:
lst = list()
type(lst)

list

In [14]:
lst = ["apple", "orange"]

In [15]:
lst.append("strawberry")

In [16]:
print(lst)

['apple', 'orange', 'strawberry']

In [18]:
lst.insert(1, "watermelon")
print(lst)
print(lst[2])

['apple', 'watermelon', 'watermelon', 'orange', 'strawberry']
watermelon

In [19]:
lst[1:]

['watermelon', 'watermelon', 'orange', 'strawberry']

In [20]:
lst.extend([8, 9,10])

In [21]:
print(lst)

['apple', 'watermelon', 'watermelon', 'orange', 'strawberry', 8, 9, 10]

In [22]:
lst.pop() #removes top element like stack

10

In [23]:
lst.count("watermelon") #count of a particular element present

2

# Sets in Python

Set is an unordered collection datatypes, which is iterable, unchangeable, unindexable and doesnot have duplicate values. Set is based on data structure hash table

In [1]:
set_var = set()
print(type(set_var))

<class 'set'>

In [11]:
set_var = {1,2,2,3,4}
print(set_var)

{1, 2, 3, 4}

In [12]:
# in built functions of set

set_var.add(5) #add element in set
print(set_var)

set2={ 5, 10,9,11,12}
set_var.intersection_update(set2)
print(set_var)

#perform functions of union, interesection, difference

{1, 2, 3, 4, 5}
{5}

In [14]:
set_var = {1,2,3,4,5}
for x in set_var:
  print(x)

1
2
3
4
5

# Dictionary in Python 
Dictionary in Python is a datastructure with Key-value pairs